* {
  /* border: 1px solid black; */
}

body {
  display: flex;
  margin: 0;
}

aside {
  width: 13%;
}

.aside-top {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 165px;
  width: 100%;
}

.profile-pic {
  height: 65%;
  border-radius: 100%;
}

.name-aside {
  display: flex;
  margin-top: 4px;
}

.name-aside>h2 {
  margin: 0px;
  font-size: 1em;
}

.name-aside>i {
  margin-top: -4px;
  margin-left: 5px;
}

.name-aside>i:after {
  content: " ⌄";
  padding-top: -4px;
}

aside>hr:first-of-type {
  margin-top: 5px;
}

aside>hr {
  margin: 38px;
}

h4 {
  margin: 24px 17px 16px;
}

.aside-lists {
  list-style-type: none;
  padding: 0px 15px;
}

.aside-lists>li {
  padding: 11px 0px;
}

main {
  width: 89%;
}

main * {
  border: 1px solid black;
}

header {
  height: 74px;
}

.title-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 142px;
}

.title-left,
.title-right {
  width: 50%;
  height: 100%;
}

nav {
  height: 53px;
}

.nav-list {
  display: flex;
  list-style-type: none;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.nav-list>li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11%;
}

.graphs-parent {
  display: flex;
  justify-content: space-between;
  height: 310px;
}

.graph-left,
.graph-right {
  width: 50%;
  height: 100%;
}

.page-break {
  height: 20px;
}

.info-section {
  display: flex;
}

article {
  width: 60%;
  margin: 3%;
}

.externals-bar {
  width: 30.5%;
  margin: 3% 3% 3% 0%;
}

.socials-list {
  list-style-type: none;
  padding: 0px;
}